.pui-page-box {
  &.sto-factory {
    .bx--form-item {
      p,
      div,
      li {
        font-size: 14px !important;
      }

      label {
        color: #152935 !important;
      }

      p {
        color: #5a6872 !important;
        word-break: break-word;
      }

      li {
        margin-bottom: 10px;
      }
    }
  }
}
