@import '~@polymathnetwork/ui/src/styles/_variables.scss';

.pui-countdown-raised {
  padding: 15px;
  font-size: 36px;
  border-radius: 4px;
  color: $poly-blue;
  background-color: $poly-gray-light;

  > div {
    font-size: 14px;

    &:last-child {
      font-size: 16px;
      font-weight: 300;
      line-height: 25px;
      color: $poly-gray-dark;
      margin-bottom: 0;
    }
  }
}
