.mint-confirm-modal {
  .bx--modal-container {
    width: 730px;
    min-width: 730px;
  }
}

.token-countdown-container {
  float: right;
}

.token-form {
  .token-form-left {
    .bx--radio-button-group {
      display: block;
      margin-top: 4px;

      .radioButtonWrapper {
        margin-bottom: 14px;

        .bx--radio-button__label {
          font-size: 16px;
          font-family: 'Overpass', sans-serif !important;
        }
      }
    }
  }
}

.ticker-field {
  margin-top: 13px;
}

.max-holders-count {
  .bx--form-item {
    float: left;
    width: 270px;
  }

  button {
    margin-top: 0;
    background: transparent !important;
    color: #252e6a;

    &:hover:not(:disabled) {
      color: #58468e;
    }

    &:hover {
      background: transparent !important;
    }
  }
}
