@import '~carbon-components/scss/globals/scss/_vars.scss';

$navbar-height: 48px;
$font: 'Overpass', sans-serif;

$poly-blue: #252d6b;
$poly-blue-hover: #58468e;
$poly-blue-light: #3d70b2;
$poly-blue-dark: #152935;
$poly-gray: #8c9ba5;
$poly-gray-light: #ebf0f7;
$poly-gray-dark: #5a6872;
$poly-green: #00aa5e;
$poly-red: #e71d32;
