@import '~carbon-components/scss/globals/scss/_vars.scss';

$navbar-height: 48px;
$font: 'Overpass', sans-serif !important;

$poly-blue: #252D6B;
$poly-blue-hover: #58468E;
$poly-blue-light: #3D70B2;
$poly-blue-dark: #152935;
$poly-gray: #8C9BA5;
$poly-gray-light: #EBF0F7;
$poly-gray-dark: #5A6872;
$poly-green: #00AA5E;
$poly-red: #E71D32;