.delete-icon {
  cursor: pointer;
}

.form-item-header {
  margin-top: 12px;
  margin-bottom: 5px;
  font-size: 14px;
}

.compliance-form {
  width: 100%;

  .whitelist-settings {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    > .bx--form-item {
      //&:first-child {
      //  max-width: 325px;
      //}

      &:last-child {
        margin-bottom: 0 !important;
        overflow: scroll;

        .bx--form-item {
          position: relative;
          float: left;

          input {
            width: 84px;
            min-width: 84px;

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
          }

          &:after {
            content: '%';
            position: absolute;
            top: 13px;
            left: 55px;
            color: #8c9ba5;
            font-size: 14px;
          }
        }
      }
    }
  }

  .compliance-settings {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;

    > .bx--form-item {
      max-width: 300px;

      //&:first-child {
      //  max-width: 325px;
      //}

      &:last-child {
        margin-top: -24px;
        margin-bottom: 0 !important;
        height: 100px;

        .bx--form-item {
          position: relative;
          float: left;

          input {
            width: 84px;
            min-width: 84px;

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
          }

        }

        button {
          margin-top: 0;
          background: transparent !important;
          color: #252e6a;

          &:hover:not(:disabled) {
            color: #58468e;
          }

          &:hover {
            background: transparent !important;
          }
        }
      }
    }
  }
}

.whitelist-investor-modal {
  .bx--modal-container {
    width: 500px;
    max-height: 800px;

    .bx--modal-content__text {
      margin-bottom: 9px;
    }
  }
}

.whitelist-import-modal {
  .bx--modal-container {
    max-height: 700px;
  }
}

.whitelist-import-confirm-modal {
  .bx--modal-container {
    width: 850px;
    min-width: 850px;
  }
}

.import-whitelist-btn {
  float: left;
  margin-top: 6px;
  margin-right: 26px;
}

.permanent-checkbox-container {
  padding-top: 35px;
  margin-left: -15px;

  .bx--checkbox-label span {
    padding-left: 6px;
  }
}

.import-criticals {
  width: 100%;

  th {
    font-size: 14px !important;
    font-weight: 600 !important;
    line-height: 22px !important;
    text-align: left;
    padding-bottom: 5px;

    &:first-child {
      padding-left: 16px;
    }
  }

  tbody {
    tr {
      td {
        height: 24px;
        vertical-align: middle;
        background-color: rgba(231, 29, 50, 0.1);
        font-size: 12px !important;
        color: #b60013 !important;
        font-weight: 400 !important;
        line-height: 18px !important;
        border-bottom: 1px solid white;

        &:first-child {
          padding-left: 16px;
        }
      }
    }
  }
}

.freeze-transfer-modal {
  .bx--modal-close {
    display: none;
  }
}
