.pui-data-table {
  .bx--data-table-v2 tr:hover td {
    background-color: transparent;
  }

  .bx--table-sort-v2 {
    text-align: left;
  }

  .bx--table-header-label {
    line-height: 1.15em;
  }
}
