@import '~@polymathnetwork/ui/src/styles/_variables.scss';

.pui-notice-bar {
  position: fixed;
  margin-top: -$navbar-height;
  height: $navbar-height;
  width: 100%;
  background: #DB2C3E;

  .pui-notice-bar-contents {
    width: 1192px;
    margin-left: 75px;
    display: flex;

    .pui-notice-bar-title {
      width: 218px;
      height: 20px;
      font-size: 20px;
      color: white;
      line-height: 31px;
      padding-top: 23px;
      display: flex;
      align-items: center;

      svg {
        margin-right: 8px;
      }
    }

    .pui-notice-bar-text {
      width: 967px;
      height: 40px;
      font-size: 12px;
      color: white;
      line-height: 16px;
      padding-top: 7px;
      font-weight: 300;
      display: flex;
      align-items: center;

      a {
        color: #5068A4;
      }
    }

    .pui-notice-bar-close {
      cursor: pointer;
      position: absolute;
      top: 15px;
      right: 15px;
    }
  }

  &.pui-notice-bar-warning {
    background-color: #EFC100;
  }

  &.pui-notice-bar-info {
    background-color: #5AAAFA;
  }
}