@import '~@polymathnetwork/ui/src/deprecated/styles/_variables.scss';

.pui-navbar {
  width: 100%;
  height: $navbar-height;
  background-color: white;
  box-shadow: 0 1px 0 0 #dfe3e6;

  > a {
    float: left;
  }

  .pui-navbar-menu {
    li {
      display: inline-flex;
      align-items: center;
      color: $poly-gray-dark;
      font-size: 14px;
      line-height: 22px;
      margin-left: 30px;
      font-weight: 300;

      svg,
      img {
        margin-right: 8px;
      }
    }
  }
}
